/* Projects page start */
.projects {
  height: 100vh;
  padding: 100px 0px;
}
.projects_container {
  /* background-color: #b08968; */
  color: whitesmoke;
  border-radius: 30px;
  padding: 40px;
}
.projects_title {
  padding: 20px;
  text-align: center;
  font-size: 35px;
  margin-top: 40px;
}
.projects_nav {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 20px auto;
  margin-bottom: 10px;
}
.projects_button {
  padding: 5px;
  margin-right: 5px;
  border: none;
  cursor: pointer;
  color: white;
  width: 55%;
  font-size: 15px;
  border-radius: 5px;
  background-color: #7f5539;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.projects_title:hover {
  color: brown;
  cursor: pointer;
}

.projects_button-active {
  background-color: white;
  color: #7f5539;
}
.projects_button :hover {
  color: #3a4854;
  box-shadow: 5px 5px 5px
    linear-gradient(180deg, gray 0%, rgba(102, 248, 248, 0) 100%);
  border-radius: 5px;
  opacity: 90%;
}
/* Container for only single project */

.project_container {
  display: flex;
  justify-content: space-around;
}
.projects_link {
  text-decoration: none;
}

.project_link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 40px;
  width: 150px;
  gap: 5px;
  border-radius: 10px;
  margin: 10px;
  color: white;
  background: #7f5539;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.projects_direction {
  text-decoration: none;
  list-style: none;
}
.projects_image {
  display: flex;
  width: 300px;
  height: 250px;
  padding: 10px;
  margin: 0 auto;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  border: 1px solid #7f5539;
  margin-bottom: 20px;
}
.projects_description {
  width: 80%;
  height: 70%;
  margin: 0 auto;
  font-size: 20px;
  border-radius: 10px;
  text-decoration: none;
  background: #7f5539;
  color: white;
  padding: 2px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  border: 1px solid rgba(0, 0, 0, 0.1);
  list-style: none;
}

@media screen and (max-width: 320px) {
  .projects {
    height: 100vh;
    padding: 100px 0px;
  }
  .projects_nav_button {
    padding: 15px;
    font-size: 10px;
  }

  .projects_direction {
    font-size: 10px;
  }
  .projects_image {
    display: flex;
    width: 200px;
    height: 250px;
  }
}
@media screen and (min-width: 1024px) {
  .projects {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 400px;
  }
  .projects_container {
    margin-top: 10px;
    background-color: #b08968;
    color: whitesmoke;
    border-radius: 30px;
    max-width: 800px;
    padding: 40px;
  }
  .projects_title {
    padding: 20px;
    text-align: center;
    color: #7f5539;
    font-size: 34px;
  }
  .projects_nav {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 20px auto;
    margin-bottom: 10px;
  }
  .projects_button {
    padding: 5px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    color: white;
    width: 52%;
    font-size: 30px;
    border-radius: 1.5px;
    background-color: #7f5539;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}
