.nav_container {
  display: flex;
  position: fixed;
  width: 100%;
  /* height: 90px; */
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  background: #b08968;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  transition: 0.3s;
  padding: 10px;
}
.nav {
  display: flex;
  justify-content: right;
  padding-bottom: 40px;
}
.nav * {
  z-index: 5;
}
.nav_ul {
  position: fixed;
  background-color: burlywood;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 30px 0px 0px 30px;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  cursor: pointer;
}

.nav_ul_li {
  list-style: none;
  width: 100px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_ul_li_a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  flex-direction: column;
  /* padding: 10px 20px 10px 20px; */
  color: whitesmoke;
  font-size: bold;
  font-weight: bold;
  transition: 0.3s;
  list-style: none;
}
/* Theme */
.toggle {
  display: flex;
  align-items: center;
  width: 50px;
  height: 30px;
}
.toggle:hover {
  color: #7f5539;
  background-color: #ede0d4;
  list-style: none;
}

.nav_ul_li:hover:not(.nav_ul_li--menuBackground) {
  background-color: #7f5539;
}
.nav_ul_li_a:hover {
  color: white;
}
.nav_ul_li:first-child:hover {
  border-radius: 30px;
}
.nav_logo {
  color: #7f5539;
  font-weight: bolder;
  font-style: bolder;
  /* margin-right: 10px; */
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

@media screen and (max-width: 900px) {
  .nav_container {
    display: flex;
    /* position: fixed; */
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    background: #b08968;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    transition: 0.3s;
  }

  .nav_ul {
    display: block;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }
}

@media screen and (max-width: 600px) {
  .nav_ul {
    display: block;
    box-sizing: border-box;
    /* flex-direction: column; */
    align-items: center;
    cursor: pointer;
  }

  .nav_logo {
    color: #7f5539;
    font-weight: bolder;
    font-style: bolder;
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }
}
@media screen and (max-width: 320px) {
  .nav_ul {
    display: block;
    box-sizing: border-box;
    /* flex-direction: column; */
    align-items: center;
    cursor: pointer;
  }
}
