.nav_container {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* padding: 3px; */
  background-color: #b08968;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
.nav {
  display: flex;
  justify-content: right;
}
.nav * {
  z-index: 5;
}
.nav_logo {
  margin-left: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
.nav_ul {
  flex-direction: row;
  cursor: pointer;
}
.nav_ul_li {
  list-style: none;
  /* width: 120px; */
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_ul_li_a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  flex-direction: column;
  /* padding: 10px 20px 10px 20px; */
  font-size: bold;
  font-weight: bold;
  transition: 0.3s;
  color: whitesmoke;
  list-style: none;
  height: 100%;
}
/* Theme */
.toggle {
  background-color: #ede0d4;
  color: #7f5539;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 30px;
  list-style: none;
}
.toggle:hover {
  background-color: #7f5539;
  color: #ede0d4;
  list-style: none;
}

.nav_ul_li:hover:not(.nav_ul_li--menuBackground) {
  background-color: #7f5539;
}
.nav_ul_li_a:hover {
  color: white;
}
.nav_ul_li:first-child:hover {
  border-radius: 30px;
}

/* @media screen and (max-width: 600px) {
  .nav_ul {
    flex-direction: column;
  }
  .nav_ul_li:nth-child(5) {
    order: -1;
  }
  .nav_ul_li:first-child:hover {
    border-radius: 0;
  }
  .nav_ul_li:nth-child(5) {
    border-radius: 0 0 0 30px;
  }
}
@media screen and (max-width: 786px) {
  .nav_ul_li_a {
    flex-direction: row;
  }
} */
